* {
    box-sizing: border-box;
    margin: 0 auto;
}
div {
    margin-top: 20px;
    padding: 10px;
    width: 850px;
    background-color: rgb(112, 186, 247);
}
table {
    border-collapse: collapse;
    width: 770px;
}
tr, td {
    padding: 0px;
    margin-top: 0px;
    width: 800px;
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
}
p{
    width: 50%;
    margin-bottom: 10px;
}
label {
    font-size: 12px;         
    display: inline-block;
    text-align: right;
    padding: 0px;
}
img {
    width: 40%;
    margin-left: 200px;
}
input{
    padding: 0px;
    box-sizing: border-box;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}